In [2]:
import pandas as pd

In [213]:
players_df = pd.read_csv('./data/players_22.csv')

/var/folders/_q/my1ch2lx51s2dwm02xw2zh4r0000gn/T/ipykernel_65801/441374650.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players_df = pd.read_csv('./data/players_22.csv')

In [179]:
sec_players_df = pd.read_csv('./data/players_fifa23.csv')

In [214]:
print(list(players_df.columns))

['sofifa_id', 'player_url', 'short_name', 'long_name', 'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'dob', 'height_cm', 'weight_kg', 'club_team_id', 'club_name', 'league_name', 'league_level', 'club_position', 'club_jersey_number', 'club_loaned_from', 'club_joined', 'club_contract_valid_until', 'nationality_id', 'nationality_name', 'nation_team_id', 'nation_position', 'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves', 'international_reputation', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'player_traits', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking_awareness', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'club_logo_url', 'club_flag_url', 'nation_logo_url', 'nation_flag_url']

In [154]:
players_short_df = players_df[['short_name', 'club_name','player_positions','overall','value_eur','age','international_reputation','nationality_name']]
# players_df.loc[players_df['club_name'].str.contains('Liverpool')== True]

In [182]:
players_short_df = sec_players_df[['FullName', 'Club','BestPosition','Overall','ValueEUR','Age','IntReputation','NationalTeam']]

In [183]:
players_short_df

,FullName,Club,BestPosition,Overall,ValueEUR,Age,IntReputation,NationalTeam
0,Lionel Messi,Paris Saint-Germain,CAM,91,54000000,35,5,Argentina
1,Karim Benzema,Real Madrid CF,CF,91,64000000,34,4,France
2,Robert Lewandowski,FC Barcelona,ST,91,84000000,33,5,Poland
3,Kevin De Bruyne,Manchester City,CM,91,107500000,31,4,Belgium
4,Kylian Mbappé,Paris Saint-Germain,ST,91,190500000,23,4,France
...,...,...,...,...,...,...,...,...
18534,Darren Collins,Sligo Rovers,CAM,47,110000,21,1,Not in team
18535,Dejiang Yang,Guangzhou FC,CDM,47,90000,17,1,Not in team
18536,Liam Mullan,Derry City,RM,47,130000,18,1,Not in team
18537,Daithí McCallion,Derry City,CB,47,100000,17,1,Not in team
18538,Nabin Rabha,NorthEast United FC,LB,47,60000,25,1,Not in team

In [184]:
def get_team_df(name):
    team_df =players_short_df.loc[players_short_df['Club'].str.contains(name)== True]
    return team_df

In [192]:
team = get_team_df('Manchester United')

In [194]:
team.sort_values(by='ValueEUR', ascending =False).head(11)['ValueEUR'].sum()

520000000

In [202]:
def get_team_fifa_info(team):
    team_df = get_team_df(team)
    top_player = team_df.sort_values(by='Overall', ascending =False).head(1)
    avg_overall = round(team_df.head(16)['Overall'].mean(),2)
    top_3_int_players = team_df.sort_values(by='IntReputation', ascending =False).head(3)
    top16_value = "${:,.2f}".format(round(team_df.sort_values(by='ValueEUR', ascending =False).head(16)['ValueEUR'].sum(),2))

    return top_player, avg_overall,top_3_int_players, top16_value

In [203]:
top_player, avg_overall,top_3_int_players, top16_value = get_team_fifa_info('Manchester United')

In [204]:
top16_value

'$647,500,000.00'

In [135]:
def get_team_logo(team_name):
    team_logo = players_df.loc[players_df['club_name'].str.contains(team_name)== True].head(1)['club_logo_url'].values[0]
    return team_logo

In [233]:
len(players_df.loc[players_df['nationality_name'].str.contains('Qatar')== True])

0

In [236]:
def get_team_logo(team_name, type):
    if type =='club':
        team_logo = players_df.loc[players_df['club_name'].str.contains(team_name)== True]
        if len(team_logo)> 0:
            team_logo = team_logo.head(1)['club_logo_url'].values[0]
            return team_logo
        else:
            return 'Logo/Flag is not Available'
        
    else:
        team_logo = players_df.loc[players_df['nationality_name'].str.contains(team_name)== True]
        if len(team_logo)>0:
            team_logo = team_logo.head(1)['nation_flag_url'].values[0]
            return team_logo
            
        else:
            return 'Logo/Flag is not Available'

In [235]:
get_team_logo('Qatar','wc')

'Not Available'

In [136]:
get_team_logo('Manchester City')

'https://cdn.sofifa.net/teams/10/60.png'

In [36]:
import requests

In [238]:
def get_football_data(url_link, api_key):
    sports_response = requests.get(
            url_link, 
            headers={
                'X-Auth-Token': api_key,        
            }
        )
    if sports_response.status_code != 200:
            return({'message':f'Failed to get sports data: status_code {sports_response.status_code}, response body {sports_response.text}'})

    else:
            all_odds = sports_response.json()
            return(all_odds)

In [252]:
WC_TOP_SCORERS_URL ="http://api.football-data.org/v4/competitions/WC/scorers"

In [253]:
get_football_data(WC_TOP_SCORERS_URL, FD_API_KEY)

{'count': 0,
 'filters': {'season': '2022', 'limit': 10},
 'competition': {'id': 2000,
  'name': 'FIFA World Cup',
  'code': 'WC',
  'type': 'CUP',
  'emblem': 'https://crests.football-data.org/qatar.png'},
 'season': {'id': 1382,
  'startDate': '2022-11-20',
  'endDate': '2022-12-18',
  'currentMatchday': 1,
  'winner': None},
 'scorers': []}

In [239]:
get_football_data(WC_STANDINGS_URL, FD_API_KEY)

{'filters': {'season': '2022'},
 'area': {'id': 2267, 'name': 'World', 'code': 'INT', 'flag': None},
 'competition': {'id': 2000,
  'name': 'FIFA World Cup',
  'code': 'WC',
  'type': 'CUP',
  'emblem': 'https://crests.football-data.org/qatar.png'},
 'season': {'id': 1382,
  'startDate': '2022-11-20',
  'endDate': '2022-12-18',
  'currentMatchday': 1,
  'winner': None},
 'standings': [{'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_A',
   'table': [{'position': 1,
     'team': {'id': 791,
      'name': 'Ecuador',
      'shortName': 'Ecuador',
      'tla': 'ECU',
      'crest': 'https://crests.football-data.org/791.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 8601,
      'name': 'Netherlands',
      'shortName': 'Netherlands',
      'tla': 'NED',
      'crest': 'https://crests.football-data.org/8601.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 8030,
      'name': 'Qatar',
      'shortName': 'Qatar',
      'tla': 'QAT',
      'crest': 'https://crests.football-data.org/8030.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 804,
      'name': 'Senegal',
      'shortName': 'Senegal',
      'tla': 'SEN',
      'crest': 'https://crests.football-data.org/senegal.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]},
  {'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_B',
   'table': [{'position': 1,
     'team': {'id': 770,
      'name': 'England',
      'shortName': 'England',
      'tla': 'ENG',
      'crest': 'https://crests.football-data.org/770.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 840,
      'name': 'Iran',
      'shortName': 'Iran',
      'tla': 'IRN',
      'crest': 'https://crests.football-data.org/iran.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 771,
      'name': 'United States',
      'shortName': 'USA',
      'tla': 'USA',
      'crest': 'https://crests.football-data.org/usa.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 833,
      'name': 'Wales',
      'shortName': 'Wales',
      'tla': 'WAL',
      'crest': 'https://crests.football-data.org/833.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]},
  {'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_C',
   'table': [{'position': 1,
     'team': {'id': 762,
      'name': 'Argentina',
      'shortName': 'Argentina',
      'tla': 'ARG',
      'crest': 'https://crests.football-data.org/762.png'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 769,
      'name': 'Mexico',
      'shortName': 'Mexico',
      'tla': 'MEX',
      'crest': 'https://crests.football-data.org/769.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 794,
      'name': 'Poland',
      'shortName': 'Poland',
      'tla': 'POL',
      'crest': 'https://crests.football-data.org/794.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 801,
      'name': 'Saudi Arabia',
      'shortName': 'Saudi Arabia',
      'tla': 'KSA',
      'crest': 'https://crests.football-data.org/saudi_arabia.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]},
  {'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_D',
   'table': [{'position': 1,
     'team': {'id': 779,
      'name': 'Australia',
      'shortName': 'Australia',
      'tla': 'AUS',
      'crest': 'https://crests.football-data.org/779.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 782,
      'name': 'Denmark',
      'shortName': 'Denmark',
      'tla': 'DEN',
      'crest': 'https://crests.football-data.org/782.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 773,
      'name': 'France',
      'shortName': 'France',
      'tla': 'FRA',
      'crest': 'https://crests.football-data.org/773.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 802,
      'name': 'Tunisia',
      'shortName': 'Tunisia',
      'tla': 'TUN',
      'crest': 'https://crests.football-data.org/tunisia.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]},
  {'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_E',
   'table': [{'position': 1,
     'team': {'id': 793,
      'name': 'Costa Rica',
      'shortName': 'Costa Rica',
      'tla': 'CRC',
      'crest': 'https://crests.football-data.org/costa_rica.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 759,
      'name': 'Germany',
      'shortName': 'Germany',
      'tla': 'GER',
      'crest': 'https://crests.football-data.org/759.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 766,
      'name': 'Japan',
      'shortName': 'Japan',
      'tla': 'JPN',
      'crest': 'https://crests.football-data.org/766.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 760,
      'name': 'Spain',
      'shortName': 'Spain',
      'tla': 'ESP',
      'crest': 'https://crests.football-data.org/760.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]},
  {'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_F',
   'table': [{'position': 1,
     'team': {'id': 805,
      'name': 'Belgium',
      'shortName': 'Belgium',
      'tla': 'BEL',
      'crest': 'https://crests.football-data.org/805.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 828,
      'name': 'Canada',
      'shortName': 'Canada',
      'tla': 'CAN',
      'crest': 'https://crests.football-data.org/canada.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 799,
      'name': 'Croatia',
      'shortName': 'Croatia',
      'tla': 'CRO',
      'crest': 'https://crests.football-data.org/799.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 815,
      'name': 'Morocco',
      'shortName': 'Morocco',
      'tla': 'MAR',
      'crest': 'https://crests.football-data.org/morocco.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]},
  {'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_G',
   'table': [{'position': 1,
     'team': {'id': 764,
      'name': 'Brazil',
      'shortName': 'Brazil',
      'tla': 'BRA',
      'crest': 'https://crests.football-data.org/764.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 781,
      'name': 'Cameroon',
      'shortName': 'Cameroon',
      'tla': 'CMR',
      'crest': 'https://crests.football-data.org/cameroon.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 780,
      'name': 'Serbia',
      'shortName': 'Serbia',
      'tla': 'SRB',
      'crest': 'https://crests.football-data.org/780.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 788,
      'name': 'Switzerland',
      'shortName': 'Switzerland',
      'tla': 'SUI',
      'crest': 'https://crests.football-data.org/788.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]},
  {'stage': 'GROUP_STAGE',
   'type': 'TOTAL',
   'group': 'GROUP_H',
   'table': [{'position': 1,
     'team': {'id': 763,
      'name': 'Ghana',
      'shortName': 'Ghana',
      'tla': 'GHA',
      'crest': 'https://crests.football-data.org/ghana.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 2,
     'team': {'id': 765,
      'name': 'Portugal',
      'shortName': 'Portugal',
      'tla': 'POR',
      'crest': 'https://crests.football-data.org/765.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 3,
     'team': {'id': 772,
      'name': 'South Korea',
      'shortName': 'Korea Republic',
      'tla': 'KOR',
      'crest': 'https://crests.football-data.org/772.png'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0},
    {'position': 4,
     'team': {'id': 758,
      'name': 'Uruguay',
      'shortName': 'Uruguay',
      'tla': 'URU',
      'crest': 'https://crests.football-data.org/758.svg'},
     'playedGames': 0,
     'form': None,
     'won': 0,
     'draw': 0,
     'lost': 0,
     'points': 0,
     'goalsFor': 0,
     'goalsAgainst': 0,
     'goalDifference': 0}]}]}

In [59]:
top_epl_scorers = get_football_data(WC_STANDINGS_URL, FD_API_KEY)
players_top_ten=[]
teams_tops_scorers =[]
number_goals =[]
number_assists=[]
for player in top_epl_scorers['scorers']:
    print(player['assists'])
    players_top_ten.append((player['player']['name']))
    teams_tops_scorers.append((player['team']['name']))
    number_goals.append(player['goals'])
    number_assists.append(player['assists'])
dic_top_epl_scorers = {'Player Name': players_top_ten,'Team': teams_tops_scorers, 'Goals':number_goals,'Assists':number_assists}
top_epl_scorers_df = pd.DataFrame(dic_top_epl_scorers)
top_epl_scorers_df.set_index('Player Name')

In [84]:
FD_EPL_STANDINGS_URL="https://api.football-data.org/v4/competitions/PL/standings"

In [ ]:
def get_epl_standings_df():
    epl_standings = get_football_data(FD_EPL_STANDINGS_URL, FD_API_KEY)
    team_names =[]
    team_points=[]
    team_played_count =[]
    team_form =[]
    team_goal_dif =[]
    for position in epl_standings['standings'][0]['table']:
        team_names.append(position['team']['name'])
        team_played_count.append(position['playedGames'])
        team_points.append(position['points'])
        team_form.append(position['form'])
        team_goal_dif.append(position['goalDifference'])
    dic_epl_table ={'Team':team_names,'Points':team_points,'Games Played':team_played_count,'Form':team_form, 'Goal Difference':team_goal_dif}
    epl_table_df = pd.DataFrame(dic_epl_table)
    return epl_table_df

In [250]:
def get_wc_standings_df():
    wc_standings = get_football_data(WC_STANDINGS_URL, FD_API_KEY)
    team_names =[]
    team_points=[]
    team_played_count =[]
    team_form =[]
    team_goal_dif =[]
    for position in wc_standings['standings']:
        # print(position)
        for table in position['table']:
            # print(table)

            team_names.append(table['team']['name'])
            team_played_count.append(table['playedGames'])
            team_points.append(table['points'])
            team_form.append(table['form'])
            team_goal_dif.append(table['goalDifference'])
            # print(team_names)
    dic_wc_table ={'Team':team_names,'Points':team_points,'Games Played':team_played_count,'Form':team_form, 'Goal Difference':team_goal_dif}
    wc_table_df = pd.DataFrame(dic_wc_table)
    return wc_table_df

In [251]:
get_wc_standings_df()

             Team  Points  Games Played  Form  Goal Difference
0         Ecuador       0             0  None                0
1     Netherlands       0             0  None                0
2           Qatar       0             0  None                0
3         Senegal       0             0  None                0
4         England       0             0  None                0
5            Iran       0             0  None                0
6   United States       0             0  None                0
7           Wales       0             0  None                0
8       Argentina       0             0  None                0
9          Mexico       0             0  None                0
10         Poland       0             0  None                0
11   Saudi Arabia       0             0  None                0
12      Australia       0             0  None                0
13        Denmark       0             0  None                0
14         France       0             0  None                0
15        Tunisia       0             0  None                0
16     Costa Rica       0             0  None                0
17        Germany       0             0  None                0
18          Japan       0             0  None                0
19          Spain       0             0  None                0
20        Belgium       0             0  None                0
21         Canada       0             0  None                0
22        Croatia       0             0  None                0
23        Morocco       0             0  None                0
24         Brazil       0             0  None                0
25       Cameroon       0             0  None                0
26         Serbia       0             0  None                0
27    Switzerland       0             0  None                0
28          Ghana       0             0  None                0
29       Portugal       0             0  None                0
30    South Korea       0             0  None                0
31        Uruguay       0             0  None                0

In [205]:
ODDS_API_KEY = 'test'
WC_ODDS_URL = 'test'

In [211]:
def get_WC_odds_data(wc_odds_url, api_key):
    '''
        With a valid API key, this function retrieves the any live games as well as the next 8 upcoming games across 
        the English Premier League. (Soccer ;)
    '''
    sports_response = requests.get(
        wc_odds_url, 
        params={
            'api_key': api_key,        
        }
    )

    if sports_response.status_code != 200:
        return {'message':f'Failed to get sports data: status_code {sports_response.status_code}, response body {sports_response.text}'}

    else:
        all_odds = sports_response.json()
        wc_odds =[]

        for value in all_odds:

            wc_odds.append({'home_team': value['home_team'],
                'away_team': value['away_team'],
                'match_start':value['commence_time'],
                'win_home_team': value['bookmakers'][0]['markets'][0]['outcomes'][0]['price'],
                'win_away_team':value['bookmakers'][0]['markets'][0]['outcomes'][1]['price'],
                'tie':value['bookmakers'][0]['markets'][0]['outcomes'][2]['price'],
            })
            
        odds_df = pd.DataFrame(wc_odds)

        odds_df['match_start'] = pd.to_datetime(odds_df['match_start'])
        odds_df['match_start'] = odds_df['match_start'].dt.tz_convert('EST')
        odds_df.rename(columns={"home_team":"Home Team", "away_team":"Away Team","match_start": "Game Time","win_home_team":"Home Team Win",
                "win_away_team":"Away Team Win","tie":"Tie"}, inplace=True)
        return odds_df

In [212]:
get_WC_odds_data(WC_ODDS_URL,ODDS_API_KEY)

,Home Team,Away Team,Game Time,Home Team Win,Away Team Win,Tie
0,Qatar,Ecuador,2022-11-20 11:00:00-05:00,2.30,3.20,3.20
1,England,Iran,2022-11-21 08:00:00-05:00,1.30,12.00,4.75
2,Senegal,Netherlands,2022-11-21 11:00:00-05:00,1.57,6.50,3.70
3,USA,Wales,2022-11-21 14:00:00-05:00,2.60,2.90,3.00
4,Argentina,Saudi Arabia,2022-11-22 05:00:00-05:00,1.17,19.00,6.50
5,Denmark,Tunisia,2022-11-22 08:00:00-05:00,1.44,8.00,4.20
6,Mexico,Poland,2022-11-22 11:00:00-05:00,2.70,2.75,3.10
7,France,Australia,2022-11-22 14:00:00-05:00,15.00,1.22,5.80
8,Morocco,Croatia,2022-11-23 05:00:00-05:00,1.95,4.40,3.10
9,Germany,Japan,2022-11-23 08:00:00-05:00,1.50,6.50,4.20
10,Spain,Costa Rica,2022-11-23 11:00:00-05:00,23.00,1.14,7.00
11,Belgium,Canada,2022-11-23 14:00:00-05:00,1.40,8.00,4.50
12,Switzerland,Cameroon,2022-11-24 05:00:00-05:00,5.50,1.70,3.40
13,Uruguay,South Korea,2022-11-24 08:00:00-05:00,5.00,1.80,3.30
14,Portugal,Ghana,2022-11-24 11:00:00-05:00,9.00,1.40,4.20
15,Brazil,Serbia,2022-11-24 14:00:00-05:00,1.40,8.00,4.50
16,Wales,Iran,2022-11-25 05:00:00-05:00,3.50,2.25,3.00
17,Qatar,Senegal,2022-11-25 08:00:00-05:00,3.80,2.10,3.10
18,Netherlands,Ecuador,2022-11-25 11:00:00-05:00,5.80,1.60,3.80
19,England,USA,2022-11-25 14:00:00-05:00,1.62,5.80,3.75
20,Tunisia,Australia,2022-11-26 05:00:00-05:00,2.70,2.80,3.00
21,Poland,Saudi Arabia,2022-11-26 08:00:00-05:00,1.62,5.50,3.80
22,France,Denmark,2022-11-26 11:00:00-05:00,4.00,2.00,3.20
23,Argentina,Mexico,2022-11-26 14:00:00-05:00,1.57,6.50,3.75
24,Japan,Costa Rica,2022-11-27 05:00:00-05:00,5.00,1.75,3.30
25,Belgium,Morocco,2022-11-27 08:00:00-05:00,1.53,6.50,3.90
26,Croatia,Canada,2022-11-27 11:00:00-05:00,4.40,1.80,3.60
27,Spain,Germany,2022-11-27 14:00:00-05:00,2.80,2.50,3.30
28,Cameroon,Serbia,2022-11-28 05:00:00-05:00,4.50,1.91,3.20
29,South Korea,Ghana,2022-11-28 08:00:00-05:00,2.90,2.70,2.90
30,Brazil,Switzerland,2022-11-28 11:00:00-05:00,1.50,7.00,4.00
31,Portugal,Uruguay,2022-11-28 14:00:00-05:00,2.10,3.50,3.30
32,Ecuador,Senegal,2022-11-29 10:00:00-05:00,2.70,2.80,3.00
33,Netherlands,Qatar,2022-11-29 10:00:00-05:00,1.29,12.00,5.00
34,Wales,England,2022-11-29 14:00:00-05:00,1.60,6.50,3.60
35,Iran,USA,2022-11-29 14:00:00-05:00,3.80,2.05,3.30
36,Australia,Denmark,2022-11-30 10:00:00-05:00,6.50,1.55,3.80
37,Tunisia,France,2022-11-30 10:00:00-05:00,1.33,11.00,4.50
38,Poland,Argentina,2022-11-30 14:00:00-05:00,1.70,5.50,3.60
39,Saudi Arabia,Mexico,2022-11-30 14:00:00-05:00,1.65,5.80,3.60
40,Croatia,Belgium,2022-12-01 10:00:00-05:00,2.05,3.70,3.30
41,Canada,Morocco,2022-12-01 10:00:00-05:00,3.30,2.38,3.00
42,Costa Rica,Germany,2022-12-01 14:00:00-05:00,17.00,1.25,5.00
43,Japan,Spain,2022-12-01 14:00:00-05:00,9.50,1.36,4.40
44,Ghana,Uruguay,2022-12-02 10:00:00-05:00,4.75,1.83,3.30
45,South Korea,Portugal,2022-12-02 10:00:00-05:00,1.44,8.50,4.00
46,Cameroon,Brazil,2022-12-02 14:00:00-05:00,1.30,11.00,5.00
47,Serbia,Switzerland,2022-12-02 14:00:00-05:00,2.80,2.60,3.10